---
import Reveal from '../layouts/Reveal.astro';
---

<Reveal title="Node.js 的前世今生">
  <section>
    <iconify-icon class="text-[16rem]" icon="logos:nodejs" />
    <h2>Node.js 前世今生</h2>
  </section>

  <section>
    <h2>
      <a target="_blank" href="https://nodejs.org">Node.js</a>
    </h2>
    <p class="text-2xl">
      Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.
    </p>
    <p>提到 Node.js, 总绕不过 JavaScript.</p>
  </section>

  <section data-auto-animate>
    <iconify-icon class="text-[16rem]" icon="logos:javascript" />
    <h2>JavaScript</h2>
    <p>December 4, 1995</p>
    <div class="flex justify-center items-center gap-8">
      <iconify-icon
        class="text-7xl"
        icon="openmoji:netscape-navigator"
        data-id="netscape-navigator"
      />
      <iconify-icon class="text-7xl" icon="logos:opera" data-id="opera" />
      <iconify-icon
        class="text-7xl"
        icon="logos:internetexplorer"
        data-id="internetexplorer"
      />
      <iconify-icon class="text-7xl" icon="logos:firefox" data-id="firefox" />
      <iconify-icon class="text-7xl" icon="logos:safari" data-id="safari" />
      <iconify-icon class="text-7xl" icon="logos:chrome" data-id="chrome" />
      <iconify-icon
        class="text-7xl"
        icon="logos:microsoft-edge"
        data-id="microsoft-edge"
      />
    </div>
  </section>

  <section data-auto-animate>
    <div class="flex flex-col justify-center items-center gap-8">
      <table class="table text-2xl">
        <tbody>
          <tr class="hover">
            <td
              ><iconify-icon
                class="text-7xl"
                icon="openmoji:netscape-navigator"
                data-id="netscape-navigator"
              />
              <iconify-icon
                class="text-7xl"
                icon="logos:firefox"
                data-id="firefox"
              />
            </td>
            <td>SpiderMonkey</td>
          </tr>
          <tr class="hover">
            <td
              ><iconify-icon
                class="text-7xl"
                icon="logos:internetexplorer"
                data-id="internetexplorer"
              />
            </td>
            <td>Chakra</td>
          </tr>
          <tr class="hover">
            <td
              ><iconify-icon
                class="text-7xl"
                icon="logos:safari"
                data-id="safari"
              />
            </td>
            <td>JavaScriptCore</td>
          </tr>
          <tr class="hover">
            <td
              ><iconify-icon
                class="text-7xl"
                icon="logos:chrome"
                data-id="chrome"
              />
              <iconify-icon
                class="text-7xl"
                icon="logos:opera"
                data-id="opera"
              />
              <iconify-icon
                class="text-7xl"
                icon="logos:microsoft-edge"
                data-id="microsoft-edge"
              />
            </td>
            <td>V8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <h2>
      <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API"
        >Web API</a
      >
    </h2>
    <p>
      Web API 是用于开发 Web 时使用的浏览器接口, 它们不是 JavaScript
      的必要组成部分. 例如:
    </p>
    <ul>
      <li><code>window.getSelection</code></li>
      <li><code>document.getElementById</code></li>
      <li><code>location.href</code></li>
      <li><code>localStorage</code></li>
      <li><code>fetch</code></li>
      <li><code>console.log</code></li>
    </ul>
  </section>
</Reveal>
