---
import Reveal from '../layouts/Reveal.astro';

const title = 'Node.js 的前世今生';
---

<Reveal title={title}>
  <div class="reveal">
    <div class="slides">
      <section>
        <h2>{title}</h2>
      </section>
    </div>
  </div>
</Reveal>
