---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="card w-80 glass shadow">
  <figure class="min-h-[8rem]">
    <slot name="cover" />
  </figure>
  <div class="card-body items-center">
    <h2 class="card-title text-3xl">{title}</h2>
    <slot />
  </div>
</div>
