---
import Layout from './Layout.astro';
import 'reveal.js/dist/reveal.css';
import 'reveal.js/dist/theme/black.css';
import 'reveal.js/plugin/highlight/monokai.css';

export interface Props {
  title?: string;
}

const { title = 'Slides' } = Astro.props;
---

<Layout title={title}>
  <div class="reveal">
    <div class="slides">
      <slot />
    </div>
  </div>

  <a class="home-button fixed top-4 left-4 text-4xl" href="/"
    ><iconify-icon icon="line-md:arrow-left" />
  </a>

  <script>
    import Reveal from 'reveal.js/dist/reveal.esm.js';
    import RevealHighlight from 'reveal.js/plugin/highlight/highlight.esm.js';
    import RevealNotes from 'reveal.js/plugin/notes/notes.esm.js';
    const reveal = Reveal({
      plugins: [RevealHighlight, RevealNotes],
    });
    reveal.initialize({
      embedded: true,
      hash: true,
      slideNumber: true
    });
  </script>
</Layout>

<style>
  .home-button {
    color: var(--r-link-color);
  }

  .reveal {
    height: 100vh !important;
  }
</style>
